:root {
  --main-text-col: #757575;
  --alt-text-col: #ffffff99;
  --logo-web-col: #2196f3;
  --logo-studio-col: #000000;
  --alt-logo-studio-col: #ffffff;
  --main-title-col: #ffffff;
  --sub-title-col: #212121;
  --acent-col: #2196f3;
  --portfolio-border: #eeeeee;
  --header-border: #ececec;
  --icon-col: #afb1b8;

  --bg-head: #ffffff;
  --bg-hero: #2f303a;
  --bg-team: #f5f4fa;
  --bg-foot: #2f303a;

  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-col);
  overflow-x: hidden;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.link:hover,
.link:focus,
.list .current {
  color: var(--acent-col);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid var(--header-border);
  background-color: var(--bg-head);
}

.header .container {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.logo {
  display: inline-flex;
  align-items: center;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header .logo {
  margin-right: 93px;
}

.blue {
  color: var(--logo-web-col);
}

.black {
  color: var(--logo-studio-col);
}

.white {
  color: var(--alt-logo-studio-col);
}

.nav-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sub-title-col);
}
.menu-item {
  position: relative;
}

.menu-item .current::after {
  position: absolute;
  bottom: -32px;
  content: "";
  display: flex;
  align-items: center;
  width: 100%;
  height: 4px;
  background-color: var(--acent-col);
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
}

.contacts-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu {
  display: inline-flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-menu-item:not(:last-child) {
  margin-right: 30px;
}

.contacts-svg {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.hero {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin: 0px auto;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-col);
}

.btn {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-col);
  background: var(--acent-col);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0px auto;
}

/* Features */

.features {
  padding-top: 94px;
  background-color: var(--bg-head);
}

.features .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.features-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.sub-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--sub-title-col);
}
.main-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--bg-team);
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.icon {
  width: 70px;
  height: 70px;
}

/* What are we doing */

.direction {
  background-color: var(--bg-head);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--sub-title-col);
  text-align: center;
}

.direction .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.direction-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.direction-card {
  position: relative;
}

.direction-caption {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-col);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */

.team {
  background-color: var(--bg-team);
}

.team-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.taem-content {
  background-color: var(--bg-head);
  padding: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--sub-title-col);
}

.team-text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social {
  display: inline-flex;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-svg {
  fill: var(--icon-col);
  transition: fill 250ms var(--timing-function);
}

.social .link:hover .social-svg,
.social .link:focus .social-svg {
  fill: var(--bg-head);
}

.social .link:hover,
.social .link:focus {
  background-color: var(--acent-col);
}

/* Clients */

.clients {
  display: inline-flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: var(--icon-col);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.clients-svg {
  fill: var(--icon-col);
  transition: fill 250ms var(--timing-function);
}

.clients .link:hover,
.clients .link:focus {
  border-color: var(--acent-col);
}

.clients .link:hover .clients-svg,
.clients .link:focus .clients-svg {
  fill: var(--acent-col);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-foot);
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer-block {
  width: calc(100% / 12 * 3);
}

.address {
  font-style: inherit;
  margin-top: 20px;
}

.address-title {
  color: var(--main-title-col);
}

.footer-item {
  margin-top: 9px;
}

.contacts-foot {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-col);
}

.social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-col);
  margin-bottom: 20px;
}

.foot-icon-bg {
  background: rgba(255, 255, 255, 0.1);
}

.social-foot-svg {
  fill: var(--main-title-col);
}

/* Portfolio */

.portfolio {
  background-color: var(--bg-head);
}

.portfolio .list {
  display: flex;
}

.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.filtr-item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sub-title-col);
  background-color: var(--bg-team);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--acent-col);
  color: var(--main-title-col);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item {
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-card {
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-col);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-content {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
}

.example-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--sub-title-col);
}

.example-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-col);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.8);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--bg-head);
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  left: 490px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--bg-head);
}

.cross-svg {
  fill: var(--logo-studio-col);
  transition: fill 250ms var(--timing-function);
}

.close-modal-btn:hover .cross-svg,
.close-modal-btn:hover .cross-svg {
  fill: var(--acent-col);
}
