.address {
  font-style: inherit;
  margin-top: 20px;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-main-col);
}
