:root {
  --text-main-col: #757575;
  --alt-text-col: #ffffff99;
  --logo-web-col: #2196f3;
  --logo-studio-col: #000000;
  --logo-studio-alt-col: #ffffff;
  --title-main-col: #ffffff;
  --title-sub-col: #212121;
  --acent-col: #2196f3;
  --portfolio-border: #eeeeee;
  --header-border: #ececec;
  --icon-col: #afb1b8;

  --bg-head: #ffffff;
  --bg-hero: #2f303a;
  --bg-team: #f5f4fa;
  --bg-foot: #2f303a;

  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}